#gallery img {
  width: 30%;
  height: 30%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

footer, header {
    background-color: lavenderblush;
    color: dodgerblue;
    padding: 20px;
    text-align: center;
}

h1 {
    color: dodgerblue;
    font-size: 32px;
    text-transform: uppercase;
}

nav {
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: auto;
}
  
nav a {
    color: #fee88e;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    text-align: center;
}
  
nav a:hover {
    color: #fb2cbd;
}

#contact {
    padding: 20px;
    background-color: whitesmoke;
    border: 2px solid lavenderblush; 
    height: auto;
}

#contact h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

#contact p {
    color: #666;
    line-height: 1.5;
}

.block {
background-color: firebrick;
border: 2px solid black; 
height : 1OOpx;
}
